# Disable built-in CNI to use Cilium
cluster:
  network:
    cni:
      name: none
    podSubnets: ["#{ kubernetes.pod_cidr }#"]
    serviceSubnets: ["#{ kubernetes.svc_cidr }#"]
machine:
  certSANs:
    #% for item in cert_sans %#
    - "#{ item }#"
    #% endfor %#
