machine:
  certSANs:
    #% for item in cert_sans %#
    - "#{ item }#"
    #% endfor %#
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
podSubnets: ["#{ kubernetes.pod_cidr }#"]
serviceSubnets: ["#{ kubernetes.svc_cidr }#"]
