machine:
  kubelet:
    extraConfig:
      crashLoopBackOff:
        maxContainerRestartPeriod: 60s
      imageMaximumGCAge: 168h
      maxParallelImagePulls: 3
      serializeImagePulls: false
      shutdownGracePeriod: 90s
      shutdownGracePeriodCriticalPods: 60s
    nodeIP:
      validSubnets:
        - #{ network.node_cidr }#
