machine:
  kubelet:
    extraConfig:
      maxParallelImagePulls: 3
      serializeImagePulls: false
      shutdownGracePeriod: 90s
      shutdownGracePeriodCriticalPods: 60s
    nodeIP:
      validSubnets:
        - #{ network.node_cidr }#
