#| The interfaces list is replaced wholesale by strategic merge, so the VIP
   for control-plane nodes must be emitted here rather than in a separate
   control-plane patch. #|
machine:
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ .Node.Data.macAddr }}"
        #% if network.vlan_tag %#
        vlans:
          - vlanId: #{ network.vlan_tag }#
            addresses:
              - "{{ .Node.IP }}/#{ network.node_cidr.split('/') | last }#"
            mtu: {{ .Node.Data.mtu }}
            routes:
              - network: 0.0.0.0/0
                gateway: "#{ network.default_gateway }#"
            {{- if eq .Node.Role "control-plane" }}
            vip:
              ip: "#{ kubernetes.api.addr }#"
            {{- end }}
        #% else %#
        dhcp: false
        addresses:
          - "{{ .Node.IP }}/#{ network.node_cidr.split('/') | last }#"
        mtu: {{ .Node.Data.mtu }}
        routes:
          - network: 0.0.0.0/0
            gateway: "#{ network.default_gateway }#"
        {{- if eq .Node.Role "control-plane" }}
        vip:
          ip: "#{ kubernetes.api.addr }#"
        {{- end }}
        #% endif %#
