---
instance:
  cluster:
    networkPolicy: false
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    kind: GitRepository
    url: "#{ github.address }#"
    ref: "refs/heads/#{ github.branch | default('main', true) }#"
    path: kubernetes/flux/cluster
    #% if github.private_key %#
    pullSecret: github-deploy-key
    #% endif %#
