---
instance:
  distribution:
    # renovate: datasource=github-releases depName=controlplaneio-fluxcd/distribution
    version: 2.5.0
  cluster:
    networkPolicy: false
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    kind: GitRepository
    #% if github.private | default(false) %#
    url: "ssh://git@github.com/#{ github.repository }#.git"
    pullSecret: github-deploy-key
    #% else %#
    url: "https://github.com/#{ github.repository }#.git"
    #% endif %#
    ref: "refs/heads/#{ github.branch | default('main', true) }#"
    path: kubernetes/flux/cluster
