---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  #% if addon_csi_driver_nfs.enabled %#
  - ./csi-driver-nfs/ks.yaml
  #% endif %#
  #% if addon_csi_driver_smb.enabled %#
  - ./csi-driver-smb/ks.yaml
  #% endif %#
  - ./openebs/ks.yaml
  #% if addon_volsync.enabled %#
  - ./volsync/ks.yaml
  #% endif %#
