---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./openebs/ks.yaml
  #% if volsync.enabled | default(false) %#
  - ./volsync/ks.yaml
  #% endif %#
  #% if csi_driver_nfs.enabled | default(false) %#
  - ./csi-driver-nfs/ks.yaml
  #% endif %#
