---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  #% if addon_grafana.enabled %#
  - ./grafana/ks.yaml
  #% endif %#
  #% if addon_kube_prometheus_stack.enabled %#
  - ./kube-prometheus-stack/ks.yaml
  #% endif %#
  #% if addon_kubernetes_dashboard.enabled %#
  - ./kubernetes-dashboard/ks.yaml
  #% endif %#
