---
repositories:
  - name: cilium
    url: https://helm.cilium.io
  - name: postfinance
    url: https://postfinance.github.io/kubelet-csr-approver

releases:
  - name: cilium
    namespace: kube-system
    chart: cilium/cilium
    version: 1.15.2
    values: ["./cilium-values.yaml"]
    wait: true
  - name: kubelet-csr-approver
    namespace: kube-system
    chart: postfinance/kubelet-csr-approver
    version: 1.0.7
    values: ["./kubelet-csr-approver-values.yaml"]
    needs: ["cilium"]
    wait: true
