---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
stringData:
  TUNNEL_ID: "{{ cloudflare.tunnel.id }}"
  credentials.json: |
    {
      "AccountTag": "{{ cloudflare.tunnel.account_id }}",
      "TunnelSecret": "{{ cloudflare.tunnel.secret }}",
      "TunnelID": "{{ cloudflare.tunnel.id }}"
    }
