---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
stringData:
  TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  TUNNEL_TOKEN: "#{ bootstrap_cloudflare.tunnel.token }#"
  credentials.json: |
    {
      "AccountTag": "#{ bootstrap_cloudflare.tunnel.account_id }#",
      "TunnelSecret": "#{ bootstrap_cloudflare.tunnel.secret }#",
      "TunnelID": "#{ bootstrap_cloudflare.tunnel.id }#"
    }
