---
clusterName: kubernetes
clusterEndpoint: https://#{ kubernetes.api.addr }#:6443

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.13.6
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.36.2

secretsPath: secrets.sops.yaml

nodes:
  #% for item in nodes %#
  - host: "#{ item.name }#"
    ip: "#{ item.address }#"
    role: #{ 'control-plane' if item.controller else 'worker' }#
    schematicId: "#{ item.schematic_id }#"
    #% if item.secureboot | default(false, true) %#
    secureboot: true
    #% endif %#
    data:
      #% if item.disk.startswith('/') %#
      installDisk: "#{ item.disk }#"
      installDiskSerial: ""
      #% else %#
      installDisk: ""
      installDiskSerial: "#{ item.disk }#"
      #% endif %#
      macAddr: "#{ item.mac_addr | lower }#"
      mtu: #{ item.mtu | default(1500, true) }#
      encryptDisk: #{ (item.encrypt_disk | default(false, true)) | string | lower }#
      kernelModules: [#{ item.kernel_modules | default([], true) | join(', ') }#]
  #% endfor %#
