---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  #% if cloudflare.enabled %#
  SECRET_DOMAIN: "#{ cloudflare.domain }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ cloudflare_tunnel('TunnelID') }#"
  #% else %#
  SECRET_EXAMPLE: This value will be available to all YAML resources as ${SECRET_EXAMPLE}
  #% endif %#
