---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./clusterissuer.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  #% if dns.provider == 'cloudflare' %#
  - ./secret.sops.yaml
  #% endif %#
