---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: external-dns
  namespace: flux-system
spec:
  interval: 30m
  url: https://kubernetes-sigs.github.io/external-dns
  timeout: 3m
