# yaml-language-server: $schema=https://gist.githubusercontent.com/james-d-elliott/756de37a4398b3445072a60d674905c6/raw/ce90833b1ce145cb701184557dd964fa7546f19a/jsonschema.json
---
session:
  redis:
    high_availability:
      sentinel_name: redis-master
      nodes:
        - host: redis-node-0.redis-headless.database.svc.cluster.local
          port: 26379
        - host: redis-node-1.redis-headless.database.svc.cluster.local
          port: 26379
        - host: redis-node-2.redis-headless.database.svc.cluster.local
          port: 26379

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules:
    - domain: ["jellyfin.n3sav.com"]
      resources: ["^/metrics.*$"]
      policy: deny
    - domain: ["letsblockit.n3sav.com"]
      resources: ["^/lists.*$"]
      policy: bypass
    - domain: ["navidrome.n3sav.com"]
      resources: ["^/ping.*$", "^/rest.*$"]
      policy: bypass
    - domain: ["navidrome.n3sav.com"]
      resources: ["^/metrics.*$"]
      policy: deny
    - domain: ["invite.n3sav.com"]
      resources: ["^/join(/.*)?$", "^/j(/.*)?$", "^/setup(/.*)?$", "^/static(/.*)?$"]
      policy: bypass

identity_providers:
  oidc:
    cors:
      endpoints: ["authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: grafana
        description: Grafana
        secret: "${GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://grafana.n3sav.com/login/generic_oauth"]
        userinfo_signing_algorithm: none
      - id: immich
        description: Immich
        secret: "${IMMICH_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "email"]
        redirect_uris: ["https://photos.n3sav.com/auth/login", "app.immich:/"]
        userinfo_signing_algorithm: none
      - id: miniflux
        description: Miniflux
        secret: "${MINIFLUX_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://miniflux.n3sav.com/oauth2/oidc/callback"]
        userinfo_signing_algorithm: none
