#
# Cluster related variables
#

# The repo you created from this template
# e.g. https://github.com/k8s-at-home/home-cluster
export BOOTSTRAP_GIT_REPOSITORY=""
# Choose one of your cloudflare domains
# e.g. k8s-at-home.com
export BOOTSTRAP_CLOUDFLARE_DOMAIN=""
# The email you use to sign into Cloudflare with
export BOOTSTRAP_CLOUDFLARE_EMAIL=""
# Your global Cloudflare API Key
export BOOTSTRAP_CLOUDFLARE_APIKEY=""
# Pick a range of unused IPs that are on the same network as your nodes
# You don't need many IPs, just choose 10 IPs to start with
# e.g. 192.168.1.220-192.168.1.230
export BOOTSTRAP_METALLB_LB_RANGE=""
# The load balancer IP for traefik, choose from one of the available IPs above
# e.g. 192.168.1.220
export BOOTSTRAP_METALLB_TRAEFIK_ADDR=""
# Your personal pgp key
# e.g. 772154FFF783DE317KLCA0EC77149AC618D75581
export BOOTSTRAP_PERSONAL_KEY_FP=""
# The flux pgp key
# e.g. AB675CE4CC64251G3S9AE1DAA88ARRTY2C009E2D
export BOOTSTRAP_FLUX_KEY_FP=""

#
# Ansible related variables
#

# The network interface on the host kube-vip should attach to
# e.g. eno1
export BOOTSTRAP_ANSIBLE_KUBE_VIP_INTERFACE=""
# IP Address to use with KubeVIP
# Pick a unused IP that is on the same network as your nodes
# e.g. 192.168.1.254
export BOOTSTRAP_ANSIBLE_KUBE_VIP_ADDRESS=""

#
# Ansible hosts - repeat this block as many times as you need,
# incrementing the last digit on the variable name for each node
#

# Host IP Address to the control plane node
# e.g. 192.168.1.200
export BOOTSTRAP_ANSIBLE_HOST_ADDR_0=""
# User Ansible will log into the nodes
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_0=""
# Password Ansible will use to esculate to sudo
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_0=""
# Set this node as a control node (true/false)
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_0=""

# export BOOTSTRAP_ANSIBLE_HOST_ADDR_1=""
# export BOOTSTRAP_ANSIBLE_SSH_USERNAME_1=""
# export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_1=""
# export BOOTSTRAP_ANSIBLE_CONTROL_NODE_1=""
