[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

[tools]
"python" = "3.14.0"
"pipx:makejinja" = "2.8.1"
"aqua:budimanjojo/talhelper" = "3.0.37"
"aqua:cilium/cilium-cli" = "0.18.7"
"aqua:cli/cli" = "2.81.0"
"aqua:cloudflare/cloudflared" = "2025.9.1"
"aqua:cue-lang/cue" = "0.14.2"
"aqua:FiloSottile/age" = "1.2.1"
"aqua:fluxcd/flux2" = "2.7.2"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.45.4"
"aqua:helm/helm" = "3.19.0"
"aqua:helmfile/helmfile" = "1.1.7"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes-sigs/kustomize" = "5.7.1"
"aqua:kubernetes/kubectl" = "1.34.0"
"aqua:mikefarah/yq" = "4.48.1"
"aqua:siderolabs/talos" = "1.11.2"
"aqua:yannh/kubeconform" = "0.7.0"
