---
fail_fast: false
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - args:
          - --config-file
          - .yamllint.yaml
        id: yamllint
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 35.144.0
    hooks:
      - id: renovate-config-validator
