---
fail_fast: false
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - args:
          - --config-file
          - .yamllint.yaml
        id: yamllint
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.18
    hooks:
      - id: terraform-fmt
