# Talos Patching

This directory contains Kustomization patches that are added to the talhelper configuration file.

## Patch Directories

Under this `patches` directory, there are several sub-directories that can contain patches that are added to the talhelper configuration file.
Each directory is optional and therefore are not created by default.

- `global/`: patches that are applied to both the controller and worker configurations
- `controller/`: patches that are applied to the controller configurations
- `worker/`: patches that are applied to the worker configurations
- `${node-hostname}/`: patches that are applied to the node with the specified name

## Examples

```yaml
# global/logging.yaml
- op: add
  path: /machine/install/extraKernelArgs
  value:
    - talos.logging.kernel=${udp}
```

```yaml
# controller/rotate-server-certificates.yaml
- op: add
  path: /machine/kubelet/extraArgs
  value:
    rotate-server-certificates: "true"
```
