#% if addon_discord_template_notifier.enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: discord-template-notifier-secret
type: Opaque
stringData:
  config.toml: |-
    [feeds.github-template]
    url = "https://github.com/onedr0p/flux-cluster-template/commits/main/.atom"
    interval = "10m"
    retry_limit = 5
    sink.type = "discord"
    sink.url = "#{ discord_template_notifier.webhook_url }#"
#% endif %#
