---
timezone: "{{ bootstrap_timezone }}"
coredns_addr: "{{ bootstrap_coredns_addr }}"
kube_vip_addr: "{{ bootstrap_kube_vip_addr }}"
cluster_cidr: "{{ bootstrap_cluster_cidr }}"
service_cidr: "{{ bootstrap_service_cidr }}"
