#!/usr/bin/env bash
set -e
set -o noglob

[ $(id -u) -eq 0 ] || exec sudo $0 $@

# Create kube-vip directory
mkdir -p /var/lib/k0s/manifests/kube-vip

# Create kube-vip rbac
cat <<EOF > /var/lib/k0s/manifests/kube-vip/rbac.yaml
{% include 'partials/kube-vip-rbac.partial.yaml.j2' %}
EOF

# Create kube-vip daemonset
cat <<EOF > /var/lib/k0s/manifests/kube-vip/ds.yaml
{% include 'partials/kube-vip-ds.partial.yaml.j2' %}
EOF
