#!/usr/bin/env bash
set -e
set -o noglob

[ $(id -u) -eq 0 ] || exec sudo $0 $@

# Create kube-vip directory
mkdir -p /var/lib/k0s/manifests/kube-vip

# Create kube-vip rbac
cat >/var/lib/k0s/manifests/kube-vip/kube-vip-rbac.yaml <<EOF
#% include 'partials/kube-vip-rbac.partial.yaml.j2' %#
EOF

# Create kube-vip daemonset
cat >/var/lib/k0s/manifests/kube-vip/kube-vip-ds.yaml <<EOF
#% include 'partials/kube-vip-ds.partial.yaml.j2' %#
EOF
