---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-user-auth
  namespace: flux-system
type: Opaque
stringData:
  username: admin
  adminPassword: "{{ bootstrap_weave_gitops_admin_password | password_hash('bcrypt') }}"
