---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  #% if not bootstrap_advanced_flags.dual_stack_ipv4_first|default(false) %#
  - ./cilium-l2.yaml
  #% endif %#
  - ./helmrelease.yaml
