---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  {% if distribution.talos.bgp.enabled %}
  - ./cilium-bgp.yaml
  {% endif %}
  {% if ( (not distribution.talos.bgp.enabled) and
          (not feature_gates.dual_stack_ipv4_first) ) %}
  - ./cilium-l2.yaml
  {% endif %}
  - ./helmrelease.yaml
