---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  #% if addon_homepage.enabled %#
  - ./homepage/ks.yaml
  #% endif %#
  #% if addon_discord_template_notifier.enabled %#
  - ./discord-template-notifier/ks.yaml
  #% endif %#
