#% if weave_gitops.enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-user-auth
type: Opaque
stringData:
  username: admin
  password: "#{ weave_gitops.password | encrypt }#"
#% endif %#
