#% if addon_weave_gitops.enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-user-auth
type: Opaque
stringData:
  username: admin
  password: "#{ addon_weave_gitops.password | encrypt }#"
#% endif %#
