---
creation_rules:
  - path_regex: (bootstrap|kubernetes|talos)/.*\.sops\.ya?ml
    encrypted_regex: "^(data|stringData)$"
    mac_only_encrypted: true
    age: >-
      "#{ age_public_key() }#"
stores:
  yaml:
    indent: 2
