#% if gitops.enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
#% if external_services.cloudflare.enabled %#
stringData:
  SECRET_DOMAIN: "#{ external_services.cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ external_services.cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ external_services.cloudflare.tunnel.id }#"
#% else %#
stringData: {}
#% endif %#
#% endif %#
