---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  #% if template_cloudflare.enabled %#
  SECRET_DOMAIN: "#{ template_cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ template_cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ template_cloudflare.tunnel.id }#"
  #% else %#
  SECRET_EXAMPLE: Global secrets for your cluster go in this file, this file is encrypted with sops
  #% endif %#
