---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  #% if dns.provider == 'cloudflare' and ingress.mode != 'none' %#
  - ./cloudflare-dns/ks.yaml
  #% endif %#
  #% if ingress.mode == 'cloudflare-tunnel' %#
  - ./cloudflare-tunnel/ks.yaml
  #% endif %#
  - ./envoy-gateway/ks.yaml
  - ./k8s-gateway/ks.yaml
