#% if addon_kubernetes_dashboard.enabled %#
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: kubernetes-dashboard
spec:
  interval: 30m
  chart:
    spec:
      chart: kubernetes-dashboard
      version: 6.0.8
      sourceRef:
        kind: HelmRepository
        name: kubernetes-dashboard
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    extraArgs:
      - --enable-insecure-login
      - --enable-skip-login
      - --disable-settings-authorizer
    ingress:
      enabled: true
      className: internal
      #% if addon_homepage.enabled %#
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/icon: kubernetes-dashboard.png
        gethomepage.dev/name: Kubernetes Dashboard
        gethomepage.dev/group: Observability
      #% endif %#
      hosts:
        - &host "kubernetes.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
    metricsScraper:
      enabled: true
#% endif %#
