<% Place user jinja template overrides in this file's directory %>
<% Docs: https://mirkolenz.github.io/makejinja/makejinja.html %>
<% Example: https://github.com/mirkolenz/makejinja/blob/main/tests/data/makejinja.toml %>
<% Example: https://github.com/mirkolenz/makejinja/blob/main/tests/data/input1/not-empty.yaml.jinja %>
<% Example: https://github.com/mirkolenz/makejinja/blob/main/tests/data/input2/not-empty.yaml.jinja %>
