---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
