---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./pool.yaml
  - ./l2.yaml
  #% if cilium_bgp_enabled %#
  - ./l3.yaml
  #% endif %#
