---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: emqx
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://repos.emqx.io/charts
      chart: emqx
      version: 5.2.0
      sourceRef:
        kind: HelmRepository
        name: emqx-charts
        namespace: flux-system
      interval: 5m
  values:
    replicaCount: 3
    recreatePods: true

    tolerations:
      - key: "arm"
        operator: "Exists"

    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
              - emqx
          topologyKey: "kubernetes.io/hostname"

    emqxConfig:
      EMQX_ALLOW_ANONYMOUS: "false"
      EMQX_AUTH__MNESIA__PASSWORD_HASH: plain

    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 150Mi

    service:
      type: LoadBalancer
      loadBalancerIP: 10.2.1.101
      externalTrafficPolicy: Local

    ingress:
      dashboard:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://auth.donoso.family/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: https://auth.donoso.family/oauth2/start
        path: /
        pathType: Prefix
        hosts:
        - emqx.donoso.family
        tls:
        - hosts:
          - emqx.donoso.family

  valuesFrom:
    - targetPath: emqxConfig.EMQX_DASHBOARD__DEFAULT_PASSWORD
      kind: Secret
      name: emqx-secrets
      valuesKey: admin_password
    - targetPath: emqxConfig.EMQX_AUTH__USER__1__USERNAME
      kind: Secret
      name: emqx-secrets
      valuesKey: user_1_username
    - targetPath: emqxConfig.EMQX_AUTH__USER__1__PASSWORD
      kind: Secret
      name: emqx-secrets
      valuesKey: user_1_password
