---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io/
  chart: cilium
  # renovate: datasource=helm depName=cilium registryUrl=https://helm.cilium.io/
  version: 1.13.3
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    bpf:
      masquerade: true
    cluster:
      name: home-cluster
      id: 1
    containerRuntime:
      integration: containerd
      socketPath: /var/run/k3s/containerd/containerd.sock
    hubble:
      enabled: false
    ipam:
      mode: kubernetes
    k8sServiceHost: "{{ kubevip_address }}"
    k8sServicePort: 6443
    kubeProxyReplacement: strict
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    operator:
      replicas: 1
