#% if addon_csi_driver_smb.enabled %#
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: csi-driver-smb
spec:
  interval: 30m
  chart:
    spec:
      chart: csi-driver-smb
      version: v1.13.0
      sourceRef:
        kind: HelmRepository
        name: csi-driver-smb
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    linux:
      #% if bootstrap_distribution == "k0s" %#
      kubelet: /var/lib/k0s/kubelet
      #% else %#
      kubelet: /var/lib/kubelet
      #% endif %#
#% endif %#
