#% if csi_driver_smb|default({}) and csi_driver_smb.enabled|default(false) %#
#% for item in csi_driver_smb.storage_class %#
#% if not item.existing_secret_name %#
---
apiVersion: v1
kind: Secret
metadata:
  name: "#{ item.name }#-secret"
stringData:
  username: "#{ item.username }#"
  password: "#{ item.password }#"
#% endif %#
#% endfor %#
#% endif %#
