#% if addon_csi_driver_smb.enabled and addon_csi_driver_smb.create_secrets|default(true) %#
#% for item in addon_csi_driver_smb.storage_class %#
#% if not item.existing_secret_name %#
---
apiVersion: v1
kind: Secret
metadata:
  name: "#{ item.name }#-secret"
stringData:
  username: "#{ item.username }#"
  password: "#{ item.password }#"
#% endif %#
#% endfor %#
#% endif %#
