---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  {% if distribution.type in ['k3s', 'talos'] %}
  - ./system-upgrade-controller/ks.yaml
  {% endif %}
  {% if distribution.type in ["k3s"] %}
  - ./k3s/ks.yaml
  {% endif %}
  {% if distribution.type in ["talos"] and nodes.talos.schematics.enabled %}
  - ./talos/ks.yaml
  {% endif %}
