---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  #% if bootstrap_distribution in ['k3s', 'talos'] %#
  - ./system-upgrade-controller/ks.yaml
  #% endif %#
  #% if bootstrap_distribution in ["k3s"] %#
  - ./k3s/ks.yaml
  #% endif %#
  #% if bootstrap_distribution in ["talos"] and bootstrap_talos.schematic_id %#
  - ./talos/ks.yaml
  #% endif %#
