---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io/
  chart: cilium
  # renovate: datasource=helm depName=cilium repository=https://helm.cilium.io
  version: 1.15.2
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    #% filter indent(width=4, first=True) %#
    #% include 'partials/cilium-values-init.partial.yaml.j2' %#
    #% endfilter %#
