---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
stringData:
  TUNNEL_ID: "#{ cloudflare.tunnel.id }#"
  credentials.json: |
    {
      "AccountTag": "#{ cloudflare.tunnel.accountId }#",
      "TunnelSecret": "#{ cloudflare.tunnel.secret }#",
      "TunnelID": "#{ cloudflare.tunnel.id }#"
    }
