---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
stringData:
  TUNNEL_ID: "#{ template_cloudflare.tunnel.id }#"
  credentials.json: |
    {
      "AccountTag": "#{ template_cloudflare.tunnel.account_id }#",
      "TunnelSecret": "#{ template_cloudflare.tunnel.secret }#",
      "TunnelID": "#{ template_cloudflare.tunnel.id }#"
    }
