---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cloudnative-pg
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.17.0
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
  maxHistory: 3
    ## sops --encrypt --in-place ./kubernetes/apps/default/cloudnative-pg/app/postgres.sops.yaml
    ## sops --decrypt ./kubernetes/apps/default/cloudnative-pg/app/postgres.sops.yaml | kubectl apply -f -
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      create: true
