#jinja2: trim_blocks: True, lstrip_blocks: True
{% for item in csi_driver_nfs.storage_class %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ item.name }}
provisioner: nfs.csi.k8s.io
parameters:
  server: {{ item.server }}
  share: {{ item.share }}
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions: ["hard", "noatime"]
{% endfor %}
