#% if bootstrap_distribution in ['k0s', 'k3s'] and addon_longhorn.enabled %#
---
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
  labels:
    kustomize.toolkit.fluxcd.io/prune: disabled
#% endif %#
