---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-user-auth
  namespace: flux-system
type: Opaque
stringData:
  username: admin
  password: "{{ weave_gitops.password | password_hash('bcrypt', rounds=10) }}"
