---
k3s_control_node: true
k3s_server:
  #% if bootstrap_feature_gates.dual_stack_ipv4_first %#
  cluster-cidr: "#{ bootstrap_pod_network.split(',')[0] }#,#{ bootstrap_pod_network.split(',')[1] }#"
  service-cidr: "#{ bootstrap_service_network.split(',')[0] }#,#{ bootstrap_service_network.split(',')[1] }#"
  #% else %#
  cluster-cidr: "#{ bootstrap_pod_network }#"
  service-cidr: "#{ bootstrap_service_network }#"
  #% endif %#
  disable: ["flannel", "local-storage", "metrics-server", "servicelb", "traefik"]
  disable-cloud-controller: true
  disable-kube-proxy: true
  disable-network-policy: true
  docker: false
  embedded-registry: true
  etcd-expose-metrics: true
  flannel-backend: "none"
  kube-apiserver-arg:
    - "anonymous-auth=true"
  kube-controller-manager-arg:
    - "bind-address=0.0.0.0"
  kube-scheduler-arg:
    - "bind-address=0.0.0.0"
  #% if bootstrap_feature_gates.dual_stack_ipv4_first %#
  node-ip: "{{ ansible_host }},{{ ansible_default_ipv6.address }}"
  #% else %#
  node-ip: "{{ ansible_host }}"
  #% endif %#
  secrets-encryption: true
  tls-san:
    - "#{ bootstrap_controllers_vip }#"
    #% for item in bootstrap_tls_sans %#
    - "#{ item }#"
    #% endfor %#
  write-kubeconfig-mode: "644"
