# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app calibre
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/linuxserver/calibre
      tag: version-v6.27.0
    env:
      TZ: "${TIMEZONE}"
      PUID: "1026"
      PGID: "1000"
    persistence:
      config:
        enabled: true
        existingClaim: calibre
    #  books:
    #    enabled: true
    #    type: nfs
    #    server: "${LOCAL_LAN_TRUENAS}"
    #    path: /mnt/storage/home/claude/books
    #    mountPath: /mnt/storage/home/claude/books
    service:
      main:
        ports:
          http:
            port: 8080
      webserver:
        enabled: true
        ports:
          webserver:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: ClusterIP
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          auth.home.arpa/enabled: "true"
          hajimari.io/icon: mdi:bookshelf
          coredns.io/hostname: &host "grafana.${SECRET_DOMAIN}"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          external-dns/is-public: "true"
        hosts:
          - *host
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 15m
        memory: 324M
      limits:
        memory: 604M
