---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./staging.yaml
  #% if data.CLOUDFLARE_CLUSTER_ISSUER == "production" | default("staging", true) %#
  - ./production.yaml
  #% endif %#
