cluster:
  allowSchedulingOnControlPlanes: true
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  coreDNS:
    disabled: true
  proxy:
    disabled: true
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
