---
k3s_control_node: false
k3s_agent:
  kubelet-arg:
    - "image-gc-high-threshold=55"
    - "image-gc-low-threshold=50"
  {% if feature_gates.dual_stack_ipv4_first %}
  node-ip: "{% raw %}{{ ansible_host }}{% endraw %},{% raw %}{{ ansible_default_ipv6.address }}{% endraw %}"
  {% else %}
  node-ip: "{% raw %}{{ ansible_host }}{% endraw %}"
  {% endif %}
  pause-image: registry.k8s.io/pause:3.9
