---
originRequest:
  originServerName: "external.${SECRET_DOMAIN}"
  #% if not bootstrap_cloudflare.acme.production %#
  noTLSVerify: true
  #% endif %#

ingress:
  - hostname: "${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - service: http_status:404
