---
apiVersion: autopilot.k0sproject.io/v1beta2
kind: UpdaterConfig
metadata:
  name: system-upgrade
spec:
  channel: stable
  updateServer: https://updates.k0sproject.io/
  upgradeStrategy:
    type: periodic
    periodic: {}
  planSpec:
    commands:
      - k0supdate:
          targets:
            controllers:
              discovery:
                selector: {}
            workers:
              discovery:
                selector: {}
