---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
  namespace: networking
stringData:
  TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
  credentials.json: |
    {
      "AccountTag": "{{ bootstrap_cloudflare_account_tag }}",
      "TunnelSecret": "{{ bootstrap_cloudflare_tunnel_secret }}",
      "TunnelID": "{{ bootstrap_cloudflare_tunnel_id }}"
    }
