overlay:
  name: jetson_nano
  image: siderolabs/sbc-jetson
customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/iscsi-tools
      - siderolabs/tailscale
      - siderolabs/nvidia-container-toolkit
