---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_EXAMPLE: Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
  {% if cloudflare.enabled %}
  SECRET_DOMAIN: "{{ cloudflare.domain }}"
  SECRET_ACME_EMAIL: "{{ cloudflare.acme.email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID: "{{ cloudflare.tunnel.id }}"
  {% endif %}
