---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  NODE_CIDR: "#{ bootstrap_node_network }#"
  #% if bootstrap_bgp.enabled %#
  BGP_ADVERTISED_CIDR: "#{ bootstrap_bgp.advertised_network }#"
  #% endif %#
