---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_EXAMPLE: Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
  #% if bootstrap_cloudflare.enabled %#
  SECRET_DOMAIN: "#{ bootstrap_cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ bootstrap_cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  #% endif %#
