#% if bootstrap_distribution == 'k3s' or bootstrap_distribution == 'k0s' %#
skip_list:
  - yaml[commas]
  - yaml[line-length]
  - var-naming
warn_list:
  - command-instead-of-shell
  - deprecated-command-syntax
  - experimental
  - no-changed-when
#% endif %#
