#% if bootstrap_distribution in ['k3s', 'k0s'] %#
---
collections:
  - name: ansible.posix
    version: 1.5.4
  - name: ansible.utils
    version: 3.0.0
  - name: community.general
    version: 8.2.0
  - name: kubernetes.core
    version: 3.0.0
#% if bootstrap_distribution == 'k3s' %#
roles:
  - name: xanmanning.k3s
    src: https://github.com/PyratLabs/ansible-role-k3s
    version: v3.4.3
#% endif %#
#% endif %#
