---
apiVersion: autopilot.k0sproject.io/v1beta2
kind: Plan
metadata:
  name: autopilot
spec:
  id: not-used
  timestamp: not-used
  commands:
    - k0supdate:
        version: "${KUBE_VERSION}"
        platforms:
          linux-amd64:
            url: "https://get.k0sproject.io/${KUBE_VERSION}/k0s-${KUBE_VERSION}-amd64"
          linux-arm64:
            url: "https://get.k0sproject.io/${KUBE_VERSION}/k0s-${KUBE_VERSION}-arm64"
        targets:
          controllers:
            discovery:
              selector: {}
          {% if nodes.inventory | selectattr('controller', 'equalto', False) | list | length %}
          workers:
            discovery:
              selector: {}
          {% endif %}
