# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.9.4
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.32.2
# renovate: datasource=github-releases depName=prometheus-operator/prometheus-operator
prometheusOperatorVersion: v0.80.1
