---
- name: Cluster kube-vip
  hosts: master
  serial: 1
  become: true
  gather_facts: true
  any_errors_fatal: true
  pre_tasks:
    - name: Pausing for 5 seconds...
      ansible.builtin.pause:
        seconds: 5
  tasks:
    {% if distribution in ['k3s'] %}
    - name: Ensure Kubernetes is running
      ansible.builtin.include_role:
        name: xanmanning.k3s
        public: true
      vars:
        k3s_state: started
    {% endif %}
    - name: Upgrade kube-vip
      ansible.builtin.template:
        src: templates/kube-vip-ds.yaml.j2
        {% if distribution in ['k3s'] %}
        dest: "{% raw %}{{ k3s_server_manifests_dir }}{% endraw %}/kube-vip-ds.yaml"
        {% elif distribution in ['k0s'] %}
        dest: "/var/lib/k0s/manifests/kube-vip/kube-vip-ds.yaml"
        {% endif %}
        mode: preserve
