---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../flux/components/namespace
  - ../../flux/components/sops
  - ../../flux/components/substitutions
resources:
  - ./kube-prometheus-stack/ks.yaml
