#% if bootstrap_distribution in ['k0s', 'k3s'] and addon_longhorn.enabled %#
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
reclaimPolicy: Delete
provisioner: driver.longhorn.io
parameters:
  dataLocality: disabled
  numberOfReplicas: "1" # Faster restores from the snapshotclass
  replicaAutoBalance: best-effort
  staleReplicaTimeout: "30"
allowVolumeExpansion: true
volumeBindingMode: Immediate
metadata:
  name: longhorn-snapshot
#% endif %#
