---
namespace: postgres-operator

commonLabels:
  app.kubernetes.io/name: pgo
  # The version below should match the version on the PostgresCluster CRD
  app.kubernetes.io/version: 5.3.1

bases:
  - ../crd
  - ../rbac/cluster
  - ../manager

images:
  - name: postgres-operator
    newName: registry.developers.crunchydata.com/crunchydata/postgres-operator
    newTag: ubi8-5.3.1-0
  - name: postgres-operator-upgrade
    newName: registry.developers.crunchydata.com/crunchydata/postgres-operator-upgrade
    newTag: ubi8-5.3.1-0

patchesJson6902:
  - target: { group: apps, version: v1, kind: Deployment, name: pgo }
    path: selectors.yaml
  - target: { group: apps, version: v1, kind: Deployment, name: pgo-upgrade }
    path: selectors.yaml
