autoDirectNodeRoutes: true
bpf:
  masquerade: true
cluster:
  name: home-kubernetes
  id: 1
containerRuntime:
  integration: containerd
  {% if distribution.type in ["k3s"] %}
  socketPath: /var/run/k3s/containerd/containerd.sock
  {% endif %}
endpointRoutes:
  enabled: true
hubble:
  enabled: false
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: "{{ cluster.pod_network }}"
{% if feature_gates.dual_stack_ipv4_first %}
ipv6NativeRoutingCIDR: "{{ cluster.pod_network_v6 }}"
ipv6:
  enabled: true
{% endif %}
{% if distribution.type in ["k3s"] %}
k8sServiceHost: 127.0.0.1
k8sServicePort: 6444
{% elif distribution.type in ["talos"] %}
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
{% endif %}
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  {% if feature_gates.dual_stack_ipv4_first %}
  # https://github.com/cilium/cilium/issues/28985
  enabled: false
  {% else %}
  enabled: true
  {% endif %}
loadBalancer:
  algorithm: maglev
  mode: dsr
localRedirectPolicy: true
operator:
  replicas: 1
  rollOutPods: true
rollOutCiliumPods: true
routingMode: native
securityContext:
  privileged: true
