autoDirectNodeRoutes: true
bpf:
  masquerade: true
bgp:
  enabled: false
cluster:
  name: home-kubernetes
  id: 1
containerRuntime:
  integration: containerd
  {% if distribution in ['k3s'] %}
  socketPath: /var/run/k3s/containerd/containerd.sock
  {% elif distribution in ['k0s'] %}
  socketPath: /var/run/k0s/containerd.sock
  {% endif %}
endpointRoutes:
  enabled: true
hubble:
  enabled: false
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: "{{ cluster.pod_network }}"
{% if feature_gates.dual_stack_ipv4_first %}
ipv6NativeRoutingCIDR: "{{ cluster.pod_network_v6 }}"
ipv6:
  enabled: true
{% endif %}
{% if distribution in ['k3s'] %}
k8sServiceHost: 127.0.0.1
k8sServicePort: 6444
{% elif distribution in ['k0s'] %}
k8sServiceHost: localhost
k8sServicePort: 7443
{% elif distribution in ['talos'] %}
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
{% endif %}
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  {% if feature_gates.dual_stack_ipv4_first %}
  # https://github.com/cilium/cilium/issues/28985
  enabled: false
  {% else %}
  enabled: true
  # https://github.com/cilium/cilium/issues/26586
  leaseDuration: 120s
  leaseRenewDeadline: 60s
  leaseRetryPeriod: 1s
  {% endif %}
loadBalancer:
  algorithm: maglev
  mode: dsr
localRedirectPolicy: true
operator:
  replicas: 1
  rollOutPods: true
rollOutCiliumPods: true
routingMode: native
securityContext:
  privileged: true
