#% if bootstrap_distribution == 'k3s' %#
---
# https://rancher.com/docs/k3s/latest/en/installation/install-options/server-config/
# https://github.com/PyratLabs/ansible-role-k3s
k3s_control_node: true
k3s_server:
  #% if bootstrap_ipv6_enabled | default(false) %#
  node-ip: "{{ ansible_host }},{{ ansible_default_ipv6.address }}"
  #% else %#
  node-ip: "{{ ansible_host }}"
  #% endif %#
  tls-san:
    - "{{ kube_api_addr }}"
    #% if bootstrap_kube_api_hostname | default('') %#
    - "{{ kube_api_hostname }}"
    #% endif %#
  docker: false
  flannel-backend: "none" # quote
  disable: ["flannel", "local-storage", "metrics-server", "servicelb", "traefik"]
  disable-network-policy: true
  disable-cloud-controller: true
  disable-kube-proxy: true
  write-kubeconfig-mode: "644"
  pause-image: registry.k8s.io/pause:3.9
  secrets-encryption: true
  #% if bootstrap_ipv6_enabled | default(false) %#
  cluster-cidr: "{{ cluster_cidr }},{{ cluster_cidr_v6 }}"
  service-cidr: "{{ service_cidr }},{{ service_cidr_v6 }}"
  #% else %#
  cluster-cidr: "{{ cluster_cidr }}"
  service-cidr: "{{ service_cidr }}"
  #% endif %#
  etcd-expose-metrics: true # Required to monitor etcd with kube-prometheus-stack
  kube-controller-manager-arg:
    - "bind-address=0.0.0.0" # Required to monitor kube-controller-manager with kube-prometheus-stack
  kube-scheduler-arg:
    - "bind-address=0.0.0.0" # Required to monitor kube-scheduler with kube-prometheus-stack
  kube-apiserver-arg:
    - "anonymous-auth=true" # Required for external LB health-checks
  kubelet-arg:
    - "image-gc-high-threshold=55"
    - "image-gc-low-threshold=50"
#% endif %#
