---
# https://rancher.com/docs/k3s/latest/en/installation/install-options/server-config/
# https://github.com/PyratLabs/ansible-role-k3s

k3s_control_node: true
k3s_server:
  node-ip: "{% raw %}{{ ansible_host }}{% endraw %}"
  tls-san:
    - "{% raw %}{{ kube_vip_addr }}{% endraw %}"
  docker: false
  flannel-backend: "none"             # This needs to be in quotes
  disable:
    - coredns                         # Disable coredns                 - replaced with Coredns Helm Chart
    - flannel                         # Disable flannel                 - replaced with Cilium Helm Chart
    - local-storage                   # Disable local-path-provisioner  - installed with Flux
    - metrics-server                  # Disable metrics-server          - installed with Flux
    - servicelb                       # Disable servicelb               - replaced with Cilium Helm Chart
    - traefik                         # Disable traefik                 - replaced with ingress-nginx and installed with Flux
  disable-network-policy: true
  disable-cloud-controller: true
  disable-kube-proxy: true            # Cilium uses eBPF
  write-kubeconfig-mode: "644"
  cluster-cidr: "{% raw %}{{ cluster_cidr }}{% endraw %}"
  service-cidr: "{% raw %}{{ service_cidr }}{% endraw %}"
  etcd-expose-metrics: true           # Required to monitor etcd with kube-prometheus-stack
  kube-controller-manager-arg:
    - "bind-address=0.0.0.0"          # Required to monitor kube-controller-manager with kube-prometheus-stack
  kube-scheduler-arg:
    - "bind-address=0.0.0.0"          # Required to monitor kube-scheduler with kube-prometheus-stack
  kube-apiserver-arg:
    - "anonymous-auth=true"           # Required for HAProxy health-checks
