---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vector-agent
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: vector
      version: 0.20.0
      sourceRef:
        kind: HelmRepository
        name: vector
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: vector-aggregator
      namespace: monitoring
  values:
    # Original content copied from here with edits to remove prometheus and opensense
    # https://github.com/onedr0p/home-ops/blob/e9a0bad87512024e6c824ca9d0890bd051dda14b/cluster/apps/monitoring/vector/agent/helm-release.yaml
    image:
      repository: timberio/vector
      tag: 0.28.0-debian
    role: Agent
    customConfig:
      data_dir: /vector-data-dir
      api:
        enabled: false
      # Sources
      sources:
        journal_logs:
          type: journald
          journal_directory: /var/log/journal
        kubernetes_logs:
          type: kubernetes_logs
          pod_annotation_fields:
            container_image: "container_image"
            container_name: "container_name"
            pod_annotations: "pod_annotations"
            pod_labels: "pod_labels"
            pod_name: "pod_name"
        vector_metrics:
          type: internal_metrics
      # Sinks
      sinks:
        loki_journal_sink:
          type: vector
          inputs:
            - journal_logs
          address: vector-aggregator:6000
          version: "2"
        loki_kubernetes_sink:
          type: vector
          inputs:
            - kubernetes_logs
          address: vector-aggregator:6010
          version: "2"
    service:
      enabled: false
    securityContext:
      privileged: true
    tolerations:
      - effect: NoSchedule
        operator: Exists
      - effect: NoExecute
        operator: Exists
