---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
helmCharts:
  - name: kubelet-csr-approver
    repo: https://postfinance.github.io/kubelet-csr-approver
    version: 1.0.6
    releaseName: kubelet-csr-approver
    namespace: kube-system
    valuesInline:
      {% filter indent(width=6, first=True) %}
      {% include 'partials/kubelet-csr-approver-values.partial.yaml.j2' %}
      {% endfilter %}
commonAnnotations:
  meta.helm.sh/release-name: kubelet-csr-approver
  meta.helm.sh/release-namespace: kube-system
commonLabels:
  app.kubernetes.io/managed-by: Helm
