machine:
  sysctls:
    fs.inotify.max_user_watches: "1048576"     # Watchdog
    fs.inotify.max_user_instances: "8192"      # Watchdog
    net.core.rmem_max: "7500000"               # Cloudflared | QUIC
    net.core.wmem_max: "7500000"               # Cloudflared | QUIC
    net.ipv4.neigh.default.gc_thresh1: "4096"  # Prevent ARP cache overflows
    net.ipv4.neigh.default.gc_thresh2: "8192"  # Prevent ARP cache overflows
    net.ipv4.neigh.default.gc_thresh3: "16384" # Prevent ARP cache overflows
    user.max_user_namespaces: "11255"          # User Namespaces
