machine:
  network:
    disableSearchDomain: true
    nameservers:
      #% set dns_servers_list = data.CLUSTER_DNS_SERVERS.split(',') if data.CLUSTER_DNS_SERVERS.strip() else ['1.1.1.1', '1.0.0.1'] %#
      #% for item in dns_servers_list %#
      - #{ item }#
      #% endfor %#
