machine:
  time:
    disabled: false
    servers:
      #% set ntp_servers_list = data.CLUSTER_NTP_SERVERS.split(',') if data.CLUSTER_DNS_SERVERS.strip() else ['162.159.200.1', '162.159.200.123'] %#
      #% for item in ntp_servers_list %#
      - #{ item }#
      #% endfor %#
