machine:
  sysctls:
    fs.inotify.max_user_watches: "1048576" # Watchdog
    fs.inotify.max_user_instances: "8192"  # Watchdog
    net.core.rmem_max: "7500000" # Cloudflared | QUIC
    net.core.wmem_max: "7500000" # Cloudflared | QUIC
