cluster:
  allowSchedulingOnControlPlanes: true
  apiServer:
    admissionControl:
      $$patch: delete
    extraArgs:
      # https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/
      enable-aggregator-routing: true
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  coreDNS:
    disabled: true
  etcd:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - #{ node_cidr }#
  proxy:
    disabled: true
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
