---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cilium/ks.yaml
  #% if bootstrap_distribution in ["talos"] %#
  - ./kubelet-csr-approver/ks.yaml
  #% endif %#
  - ./metrics-server/ks.yaml
  #% if bootstrap_distribution in ["talos"] %#
  - ./spegel/ks.yaml
  #% endif %#
  - ./reloader/ks.yaml
