{% if flux.enabled %}
---
creation_rules:
  {% if distribution in ['talos'] %}
  - # IMPORTANT: This rule MUST be above the others
    path_regex: talos/.*\.sops\.ya?ml
    key_groups:
      - age:
          - "{{ flux.sops_age_public_key }}"
  {% endif %}
  - path_regex: kubernetes/.*\.sops\.ya?ml
    encrypted_regex: "^(data|stringData)$"
    key_groups:
      - age:
          - "{{ flux.sops_age_public_key }}"
  {% if distribution in ['k0s', 'k3s'] %}
  - path_regex: ansible/.*\.sops\.ya?ml
    key_groups:
      - age:
          - "{{ flux.sops_age_public_key }}"
  {% endif %}
{% endif %}
