---
creation_rules:
  - path_regex: kubernetes/.*\.secret(\.sops)?\.yaml
    encrypted_regex: "^(data|stringData)$"
    key_groups:
      - age:
          - "{{ bootstrap_age_public_key }}"
  - path_regex: ansible/.*\.secret(\.sops)?\.yaml
    key_groups:
      - age:
          - "{{ bootstrap_age_public_key }}"
