---
creation_rules:
  - # path_regex: kubernetes/.*\.sops\.ya?ml(\.j2)?
    encrypted_regex: "^(data|stringData)$"
    key_groups:
      - age:
          - "{{ bootstrap_age_public_key }}"
  - # path_regex: ansible/.*\.sops\.ya?ml(\.j2)?
    key_groups:
      - age:
          - "{{ bootstrap_age_public_key }}"
