#% if bootstrap_distribution in ['k0s', 'talos'] %#
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: spegel
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: v0.0.17
      sourceRef:
        kind: HelmRepository
        name: xenitab
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    spegel:
      #% if bootstrap_distribution == "k0s" %#
      containerdSock: /run/k0s/containerd.sock
      containerdRegistryConfigPath: /var/lib/k0s/containerd/certs.d
      #% endif %#
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
#% endif %#
