---
name: Invalid Template

on:
  issues:
    types:
      - labeled
      - unlabeled
      - reopened

jobs:
  support:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/support-requests@v2
        with:
          github-token: ${{ github.token }}
          support-label: "template-incomplete"
          issue-comment: >
            :wave: @{issue-author}, please follow the template provided.
          close-issue: true
          lock-issue: true
          issue-lock-reason: "resolved"
